body {
  background-color: #121212;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;         
  margin: 0;              
}

.calculator {
  text-align: center;      
}

/* Input and Result Boxes */
.enter-here,
.result {
  display: block;
  width: 500px;
  height: 50px;
  margin: 20px auto;
  border-radius: 6px;
  border: 2px solid aliceblue;
  background-color: #f5dfdf;
  padding: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}

.enter-here:hover,
.result:hover {
  background-color: #90b2ff;
}

/* Buttons */
.button {
  width: 60px;
  height: 50px;
  font-size: 20px;  
  margin: 5px;
  background-color: #adc3f7;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #82a3f5;
  transform: scale(1.05);
}

.button-num {
  width: 60px;
  height: 50px;
  font-size: 20px;  
  margin: 5px;
  background-color: #507ee9;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button-num:hover {
  background-color: #82a3f5;
  transform: scale(1.05);
}
.button-equal {
  width: 60px;
  height: 50px;
  font-size: 20px;  
  margin: 5px;
  background-color: #eff70f;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button-equal:hover {
  background-color:#04ff92;
  transform: scale(1.05);
}
.button-operators {
  width: 60px;
  height: 50px;
  font-size: 20px;  
  margin: 5px;
  background-color: #fd9606;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button-operators:hover {
  background-color:#f0e2b2;
  transform: scale(1.05);
}
.button-AC {
  width: 60px;
  height: 50px;
  font-size: 20px;  
  margin: 5px;
  background-color: #e36a6a;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button-AC:hover {
  background-color:#333333;
  transform: scale(1.05);
}
.button-info {
  width: 160px;
  height: 50px;
  font-size: 10px;  
  margin: 5px;
  background-color: #50e9e4;
  border-radius: 10px;
  border: 2px solid aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.button-info:hover {
  background-color: #82a3f5;
  transform: scale(1.05);
}